/* Import fonts for landing page*/
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

/* Reset default browser styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Adds background picture of hut and change background colour to match*/ 
html {
    background: url(assets/landing-page/backdrop.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgb(2, 31, 2); /*change background color to match hut picture */

    /* position transitions take 1 second and size transitions take 2 seconds and are linear */
    -webkit-transition: background-position 1s, background-size 2s linear;
    -moz-transition: background-position 1s, background-size 2s linear;
    -o-transition: background-position 1s, background-size 2s linear;
    transition: background-position 1s, background-size 2s linear; 
}
  
/* Styles the header */
header {
    /*background-color: #1B4721;*/
    border: 2px solid red;
    border: transparent; 
    padding-top: 20px;
    margin: 0; 
    text-align: center;
}

/* Styles the heading/title text*/
h1 {
  font-family: 'Macondo', cursive;
  font-size: 70px;
  font-weight: bold;
  color: whitesmoke;
  letter-spacing: 5px;
  text-shadow: 0 0 10px purple;
}

/* Styles the frame around the introduction text*/
.storyFrame {
    position: relative; 
    border: 2px solid red; 
    border-radius: 50px;
    border: 0;
    
    margin: 50px auto; 
    padding: 0;
    top: 100%; 

    width: 600px;
    height: 300px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles the text inside the frame */
.storyFrame p {
    color: white;
    font-family: 'Hubballi', cursive;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    line-height: 1.5;
    margin-top: 10px; 
    margin-bottom: 10px;
    padding: 20px;
    background-color: rgba(3, 29, 3, 0.8);
    border-radius: 30px;
}

.questionFrame {
  width: 400px;
  background-color: black ;
  margin: 0 auto;
}

/* Styles the enter button*/
button { 
    font-family: 'Hubballi', cursive;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    /*background-color: #8B4513;*/
    background-color: rgba(139, 69, 19, 0.5);
    font-size: 60px;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/*Animates the enter button*/
button:hover {
    background-color: rgb(143, 122, 18);
    color: black; 
}
